:root {
    --cor-primaria: #43bd8e;
    --cor-secundaria: #d12fa1;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-azul-escuro: #2b0a46;
    --cor-fundo-azul-claro: #3c145c;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Raleway', sans-serif;
    --fonte-gigante: 4rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }